:root {
  font: 16px / 1 sans-serif;
}

h1 {
  font-size: 38px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #c77014;
  text-align: center;
}

.center {
  text-align: center;
  list-style-position: inside;
}

.events, .hero, .menu {
  background-color: #e3b330;
}

.dish {
  height: 250px;
  width: 400px;
  max-width: 500px;
  max-height: 500px;
  padding: 0 3rem 0 3rem;
}

.items {
  display: flex;
  justify-content: space-evenly;
  margin: 0 2rem 0 2rem;
}

#writeup {
  display: flex;
  justify-content: center;
  padding: 0 2rem 0 2rem;
  margin: 0 2rem 0 2rem;
}

p.desc {
  text-align: justify center;
  width: 15rem;
  justify-content: center;
  margin: 0 8rem 0 8rem;
}

p {
  width: 30rem;
  justify-content: center;
  margin-left: 44rem;
}

.middle {
  margin-left: 8rem;
}

nav {
  background-color: #ffd256;
  padding: 1rem 0 1rem 0;
  font-weight: bold;
  font-size: 1.5rem;
}